<% if (cards.length == 0) { %>

<div class="blank-spacer text-center col-12">
    <div class="display-1 title">
        <i class="fas fa-meteor"></i>
        <div class="title h5 col-12 text-center">Nothing to see here...</div>
    </div>
</div>


<% } %>

<% for (let i = 0; i < cards.length; i++) { %>
    <div class="col-md-4 animated bounceIn col-lg-3 col-sm-6 col-xs-12 mt-3 mb-2 weather-card"  onclick="setMap('<%= cards[i].title %>', '<%= cards[i].origin %>');">
        <div class="card card-jupiter card-block ml-0 mr-0">
            <div class="card-header card-jupiter-inner" align="center">
                <h6><i class="fas fa-map-marker-alt float-left"></i> <%= cards[i].title %></h6>
            </div>
            <div class="card-body inner-lightest-color" align="center">
                <img src="<%=cards[i].imageSource%>" alt="<%= cards[i].conditions %>.png" class="weather-image">
                <p>Temperature: <%= cards[i].currentTemp %> F</p>
                <p>Conditions: <%= cards[i].conditions %></p>
                <p style="font-size: 8px;"><%= cards[i].timeTo %></p>
            </div>
        </div>
    </div>
<% } %>
