<% for (let i = 0; i < cards.length; i++) { %>
    <div class="col-2">
        <br>
        <div class="card card-block card-border-custom" >
            <div class="card-header" align="center" style="background-color:#bdeaee;border-bottom:5px dashed #76b4bd">
                <h4 ><%= cards[i].title %></h4>
            </div>
            <div class="card-body" style="background-color: #ebf4f6;">
                <div style="text-align: center;margin-bottom:20px">
                    <img src="<%=cards[i].imageSource%>" alt="<%= cards[i].conditions %>.png" class="weather-image">
                </div>
                <p class="row">
                    <img src="./img/temp.png" class="col-4"/> 
                    <span class="col-8"><%= cards[i].currentTemp %> F</span>
                </p>
                <p class="row">
                    <img src="./img/condition.png" class="col-4"/> 
                    <span class="col-8"><%= cards[i].conditions %></span>
                </p>
                <p class="row">
                    <img src="./img/time.png" style="width:25px;height:25px" class="col-4"/> 
                    <span class="col-8"><%= cards[i].timeTo %></span>
                </p>
            </div>
        </div>
    </div>
<% } %>