<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Jupiter</title>
        <%- include('../partials/bootstrap') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/register.js"></script>
        <script src="/js/addCard.js"></script>
        <link rel="stylesheet" href="css/master.css">
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container">
            <% if (page === "register") { %>
                <%- include('../partials/registerForm') %>
            <% } else { %>
                <% if (isLoggedIn === true) { %>
                    <div class="container mt-4 d-flex justify-content-between">
                        <div class="col-2 p-0 align-self-center">
                            <%- include('../partials/createList') %>
                        </div>
                        <div class="col-2 p-0 align-self-center">
                            <form action="/saveList" method="POST">
                                <div class="row">
                                    <input class="form-control col-6" type="text" placeholder="List Name" name="listName">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-8 p-0 align-self-center">
                            <%- include('../partials/add-card') %>
                            <% if (messages.includes("invplace")) { %>
                                <p>No Results Found :(</p>
                            <% } %>
                        </div>
                    </div>
                <% } else { %>
                    <div class="container mt-4">
                        <%- include('../partials/add-card') %>
                        <% if (messages.includes("invplace")) { %>
                            <p>No Results Found :(</p>
                        <% } %>
                    </div>
                <% } %>
            <% } %>
        </div>
        <%- include('../partials/cardDeck') %>
    </body>
</html>
