<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Jupiter</title>
        <%- include('../partials/bootstrap') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/register.js"></script>
        <script src="/js/addCard.js"></script>
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container">
            <% if (page === "register") { %>
                <%- include('../partials/registerForm') %>
            <% } else { %>
                <div class="container mt-4">
                    <%- include('../partials/add-card') %>
                    <% if (messages.includes("none")) { %>
                        <p>No Results Found :(</p>
                    <% } else { %>
                        <% messages.forEach(element => { %>
                            <form action="/addCard" method="GET" class="text-center mt-4">
                                <div class="form-group mb-0">
                                    <label class="mr-3" for="location"><%=element%></label>
                                    <button class="btn btn-success ml-3" type="submit"> + </button>
                                </div>
                            </form>
                        <% }) %>
                    <% } %>
                    <%- include('../partials/temp') %>
                </div>
            <% } %>
        </div>
        <div class="card-deck" id="weather_deck"></div>
    </body>
</html>
